@{
    ViewBag.Title = "Panel de control";
}

<div class="container">
    <h2>Panel de control</h2>
    <div class="row">
        <div class="mx-auto">
            <div class="container">
                <div class="btn-group btn-group-vertical">
                    @Html.ActionLink("Nueva entrada", "InsertarEntrada", "Entradas", new { isEditar = false }, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
                    @Html.ActionLink("Editar entrada", "VerEntradas", "Entradas", new { isEditar = true }, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
                    @Html.ActionLink("Solicitudes de contacto", "VerSolicitudes", "Solicitud", new { isEditar = true }, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
                    <a class="btn btn-primary btn-lg">Usuarios</a>
                    <a class="btn btn-primary btn-lg">Estadísticas</a>
                </div>
            </div>
        </div>

    </div>
    <span class="clearfix"></span>

</div>


