@model IEnumerable<SISBlog.Models.Entradas>

@{
    ViewBag.Title = "Entradas y artículos";
}

<div class="container">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Images/banner.jpg" alt="1">
            </div>

            <div class="item">
                <img src="~/Images/banner2.jpg" alt="2">
            </div>

            <div class="item">
                <img src="~/Images/banner3.jpg" alt="3">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
</div>  
<div class="container">
    <h3>Entradas y artículos</h3>

    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-xs-12 col-md-2">
                <div style="width:200px;" class="container">
                    <img src="~/Images/add-image.png" class="img-rounded img-responsive" />
                </div>
            </div>
            <div class="col-xs-12 col-md-8">
                <h3>@Html.DisplayFor(modelItem => item.Titulo_entrada)</h3>
                <blockquote class="blockquote">
                    <p>@Html.DisplayFor(modelItem => item.Descripcion_entrada)</p>
                    <footer>Publicación @Html.DisplayFor(modelItem => item.Fecha_publicacion)</footer>
                </blockquote>
            </div>
            <aside class="hidden-xs col-md-2">
                @*<form action="">
                        <div class="input-group">
                            <label>Buscar</label>
                            <input type="text" class="form-control" id="txtBuscar" placeholder="Buscar en las entradas"/>
                        </div>
                    </form>*@
            </aside>
        </div>
    }

</div>
